// :root{
//     --accent-color: #03A9F4;
//     --menu-color: #7D7D7D;
//     --blogs-color: #626262;
//     --title-color: #B4AD9E;
//   } 
  
  $accent-color: #03A9F4;
  $menu-color: #7D7D7D;
  $blogs-color: #626262;
  $title-color: #B4AD9E;
