.blogs {
    padding-top: 92px;
    padding-bottom: 66px;
  
  }
  
  .blogs-list {
    margin-left: -65px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .blogs-item {
    width: 420px;
  }

  .blogs-link {
    color: $title-color;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;

    display: block;
    margin-top: 62px;
    transition: color 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
  }

  .blogs-link:hover,
  .blogs-link:focus{
    color: $accent-color;
  }

  .blogs-title {
    color:  $blogs-color;
    font-size: 30px;
    font-style: normal;

    margin-top: 32px;

  }

  .thumb {
    width: 420px;
    height: 280px;
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(113, 138, 150, 0.607);
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
  }

  .thumb:hover .overlay {
    transform: translateY(0);
  }

  .blogs-text {
    color:  $blogs-color;
    font-style: normal;

    margin-top: 48px;
  }


  .blogs-list > .blogs-item {
    flex-basis: calc((100% - 65px) / 2);
  }

  .button {
    color: $blogs-color;
    font-family: Playfair Display;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 90px;
    padding: 20px 41px 21px 49px;
    border-radius: 1px;
    /* display: flex;
    justify-content: center; */
    margin-left: 330px;
    transition: background-color 250ms cubic-bezier(0.83, -0.08, 0.32, 1), color 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
  }

  .button:hover,
  .button:focus{
    background-color: $accent-color;
    color: white;
  }
